<configuration>
  <configSections>
    <section name="compression-tools-section" type="eac.multiple.compressiontools.CompressionToolConfigurationSection, eac.multiple.compressiontools" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <compression-tools-section>
    <compression-tools>
      <compression-tool
        executable="program 1"
        parameters="%key% parameters" />
      <compression-tool
        executable="program 2"
        parameters="%key2% parameters" />
    </compression-tools>
  </compression-tools-section>
</configuration>